.tagline {
    margin-top: 20px;
    text-align: center;
    color: white;
    background-color: #212529;
    width: auto;
}

.tagline p {
    font-size: 16px;
    padding: 8px;
    margin: 0%;
}

.Booking .data {
    margin-top: 20px;
    width:auto; 
    border-radius: 50px;
    /* border: 0.5px groove #e4e4e4; */
    /* border: 0.5px solid #bfbfbf; */
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
    box-shadow:20px 20px 50px 15px grey; 
    height: 600px;
}

.Booking .data .foto{
    padding-left: 80px;
    padding-right: 80px;
}

.Booking .data .foto img{
    width: 100%;
  height: auto;
}

.Booking .data .col .form{
    padding-left: 20px;
    padding-right: 20px;
}

.button .btn{
    border: none;
    width: 100%;
}