.title {
    width: auto;
    margin: 20px;
    font-size: 20px;
    font-weight: 500;
}

.welcome .container {
    padding: 0;
}

.tagline p {
    font-size: 16px;
    padding: 8px;
    margin: 0%;
}

.tagline {
    text-align: center;
    color: white;
    background-color: #212529;
    width: auto;
}

.welcome .row .col{
    margin-top: 20px;
}

.welcome .row .col .card .card-text {
    margin: 0%;
    color: grey;
}


.welcome .row .col .card .list-group-item {
    font-weight: 700;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.welcome .row .col .card-body {
    padding-top: 5px;
    padding-bottom: 5px;

}
